{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div class="container">

<br>
<br>
<br><br><br>
<h1 style="text-align:center">Thanks for your order {{order.user}}! </h1>
<h2 style="text-align:center">Your Order Number is: {{order.payment.order_number}} </h2>

<br><br><br>
<ul class="list-group mb-3 z-depth-1">
  {% for order_food in order.foods.all %}
  <li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
      <h6 class="my-0">{{ order_food.quantity }} x {{ order_food.food.name}}</h6>
    </div>
    <span class="text-muted">${{ order_food.get_total_food_price }}</span>
  </li>
  {% endfor %}
  <li class="list-group-item d-flex justify-content-between bg-light">
    <div class="text-success">
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total</span>
    <strong>${{ order.get_total }}</strong>
  </li>
</ul>
<button>
  <a class="btn btn-outline-secondary" href = "{% url 'store:pizza-menu' %}">
    Back To Menu
  </a>
</button>

</div>
<br>
<br>
<br><br><br>
{% endblock content %}
